
# Ignore custom puppet modules
## Project home [linux]: https://github.com/mtulio/puppet-linux
linux/

## Project home [zabbix]: https://github.com/mtulio/puppet-mod-zabbix
#zabbix/

## Project home [ssh]: https://github.com/mtulio/puppet-mod-ssh
#ssh/

# Ignore Puppet labs modules
concat/
stdlib/

## DNS:
dns/

## Firewall:
firewall/

## Motd: 
#motd/
registry/

## Nginx: puppet module install jfryman-nginx
#nginx/
apt/


