
##############################
## MTulio's modules:
## Project home [linux]: https://github.com/mtulio/puppet-linux
linux/

## Project home [zabbix]: https://github.com/mtulio/puppet-mod-zabbix
zabbix/

## Project home [ssh]: //github.com/mtulio/puppet-mod-ssh.git
ssh/

## Project home [profiles]: https://github.com/mtulio/puppet-mod-profiles.git
profiles/

## Project home [roles]: https://github.com/mtulio/puppet-mod-roles.git
roles/

## Project home [dnssec]: https://github.com/mtulio/puppet-mod-dnssec.git
dnssec/

## [puppet-git] Fork from https://github.com/mxhero/puppet-git
git/

##############################
# Ignore Puppet labs modules
concat/
stdlib/

## DNS:
dns/

## Firewall:
firewall/

## Motd: 
motd/
registry/

## Nginx: puppet module install jfryman-nginx
#nginx/
apt/


##############################
# Temp & swap files


